body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


.submitIssue  th {

border: 1px solid black

}

.submitIssue  td {

  border: 1px solid black
  
  }


  .center {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px;
  }

  .center th, td {

    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;
  }
  .center th {

    background-color: azure;
  }

  .cell-new {
    background-color: red;
    color: white;
  }
  
  .cell-in-progress {
    background-color: yellow;
    color: black;
  }
  
  .cell-resolved {
    background-color: green;
    color: white;
  }

  button {
    background-color: #C6C6C6;
    border: none;
    color: #000000;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    box-shadow:
      inset 1px 1px 0 #FFFFFF,
      inset -1px -1px 0 #C6C6C6,
      2px 2px 0 #000000;
    background-image: linear-gradient(to bottom, #D8D8D8, #B3B3B3);
  }
  
  button:hover {
    box-shadow:
      inset 1px 1px 0 #FFFFFF,
      inset -1px -1px 0 #C6C6C6,
      0px 0px 0 #000000;
    background-image: linear-gradient(to bottom, #EFEFEF, #CFCFCF);
  }