body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


.submitIssue  th {

border: 1px solid black

}

.submitIssue  td {

  border: 1px solid black
  
  }


  .center {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px;
  }

  .center th, td {

    border: 1px solid black
  }
  .center th {

    background-color: azure;
  }